*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Helvetica Neue",sans-serif;
}

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color: white;
    z-index: 50;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}

.full{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.textcont h5{
    background-color: coral;
    padding: 10px 5px;
    text-align: center;
    max-width: 200px;
}

.textcont h2{
    font-size: 60px;
    padding-top: 20px;
}

.textcont h6{
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button{
    font-size: 15px;
    background-color: seagreen;
    border-radius: 10px;
    border: transparent solid 2px;
    color: white;
    text-align: center;
    padding: 12px;
    max-width: 150px;
    transition: 0.2s ease-in;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(169, 233, 196);
    border: 2px solid #ccc;
    color: black;
    transition: 0.1s ease-out;
}

.midcont{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.sab{
    display: flex;
    padding-top: 150px;
}

.text{
    padding-left: 20px;
    padding-top: 20px;
    
}

.text h3{
    font-size: 15px;
}

.text h5{
    font-size: 8px;
    font-weight: 100;
}

.menucont{
    padding-top: 50px;
}

.textmenu{
   text-align: center;
   line-height: 1.4;
}

.textmenu h2{
    font-size: 15px;
    background-color: coral;
    max-width: 120px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.textmenu h3{
    padding-top: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}

.imgcont{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "I1 I1 I2 I3" 
    "I1 I1 I2 I7" 
    "I4 I5 I6 I7";
}

.trans{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.trans:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}

footer{
    background-color: bisque;
    padding-top: 50px;
    padding-bottom: 100px;
}

.footcont{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.mainlink h3{
    color: rgb(59, 57, 57);
    font-size: 20px;
}

.mainlink ul{
    font-size: 13px;
    list-style: none;
    padding-top: 10px;
}

.news{
    color: rgb(59, 57, 57);
    font-size: 15px;
    line-height: 1.9;
}

input{
    width: 250px;
    padding: 4px;
}

.iconcont{
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.follow{
    padding-top: 10px;
}